.navcontainer {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navcontainer a {
    float:left;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.navcontainer a:hover {
    cursor: pointer;
    background: #ddd;
    color: black;
}

.main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
}